.footer {
	padding-top: 35%;
	height: 0;
	width: 0;
}

.sidebar ~.footer .footer-inner {
	left: 190px;
}

.footer .footer-inner {
	text-align: center;
	position: absolute;
	z-index: auto;
	left: 0;
	right: 0;
	bottom: 0;
}

.blue1 {
	color: #ffffff !important;
}

.bolder {
	font-weight: bolder;
}

.footer .footer-inner .footer-content {
	position: absolute;
	left: 12px;
	right: 12px;
	bottom: 4px;
	padding: 8px;
	line-height: 36px;
	border-top: 3px double #E5E5E5;
}